
 app-mfsuggestion{
      ion-input{
        color:#FAFAFA;
      }
    
      ion-textarea{
        color:#FAFAFA;
      }
    
      ion-card{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin: 0 !important;
      }
    
      ion-card-content{
        margin-left:-2%;
      }
    
      ion-item{
        width:50%;
      }
 }
 
