<ion-header>
  <ion-toolbar>
    <ion-title> <div text-center>
      <h3>Financial coach</h3>
    </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-card class="cardHeight">

        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-card class="cardHeight">
                  <div style="    height: 8px;
                  background:#ed9b1f;"></div>
              <ion-row justify-content-center>



                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div padding>
                      <!-- <ion-button  type="submit"  size="small">Linkedin</ion-button>  -->
                      <!-- designation and occupation , company -->
                      <ion-button  size="small" (click)="login()">Login with Twitter</ion-button>
                      <!-- insights -->
                    </div>
                </ion-col>


                <!-- <div class="verticalLine"></div> -->
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="verticalLine">
                    <div padding style="text-align: center;">
                        <!-- <ion-button  type="submit"  size="small">Linkedin</ion-button>  -->
                        <!-- designation and occupation , company -->
                        <ion-button   size="small" (click)="login()">Connect with LinkedIn</ion-button>
                        <!-- insights -->
                      </div>
        
                      <div padding style="text-align: center;">
                        OR
                      </div>
        
                      <div padding>
                        <ion-item>
                            <ion-label>Designation</ion-label>
                            <ion-select name="designation" ngModel required  okText="Okay" cancelText="Dismiss">
                              <ion-select-option value="Senior Project Manager">Senior Project Manager</ion-select-option>
                              <ion-select-option value="Product Owner">Product Owner</ion-select-option>
                              <ion-select-option value="Software Engineer">Software Engineer</ion-select-option>
                              <ion-select-option value="Business Consultant">Business Consultant</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label>Occupation</ion-label>
                            <ion-select name="occupation" ngModel required okText="Okay" cancelText="Dismiss">
                              <ion-select-option value="priovate">Private Sector</ion-select-option>
                              <ion-select-option value="gov">Gov Employee</ion-select-option>
                              <ion-select-option value="business">Business</ion-select-option>
                            </ion-select>                    
                          </ion-item>
                        <ion-item>
                            <ion-label>Company</ion-label>
                            <ion-select name="company" ngModel required okText="Okay" cancelText="Dismiss">
                              <ion-select-option value="kellton">KelltonTech</ion-select-option>
                              <ion-select-option value="tcs">TCS</ion-select-option>
                              <ion-select-option value="tesco">Tesco</ion-select-option>
                              <ion-select-option value="Infosys">Infosys</ion-select-option>
                            </ion-select>                      
                          </ion-item>
                      </div>
                </ion-col>
              </ion-row>
            </ion-card>



              
              <ion-card class="cardHeight">
                  <div style="    height: 8px;
                  background:#ed9b1f;"></div>
                <div padding>
                  <ion-item>
                    <ion-input  name="mobile" ngModel type="text" placeholder="Mobile" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input  name="pan" ngModel type="text" placeholder="PAN" required></ion-input>
                  </ion-item>

                  <div padding style="text-align: center;">
                      <ion-button  type="submit"  [disabled]="form.invalid" size="small">Next</ion-button>
                    </div>
                </div>  
                </ion-card>
                    
          </ion-col>
          
        </ion-row>
        </ion-card>
    </ion-grid>
  </form>
</ion-content>
