<ion-header>
  <ion-toolbar>
    <ion-title> <div text-center>
      <h3>Login</h3>
    </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          
          <div style="display: block;">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div> 
        </ion-col>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <rg-gauge-chart
              [canvasWidth]="canvasWidth"
              [needleValue]="needleValue"
              [centralLabel]="centralLabel"
              [options]="options"
              [name]="name"
              [bottomLabel]="bottomLabel"></rg-gauge-chart> 
        </ion-col>
  
      </ion-row>

      

      <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding style="text-align: center;">
                <!-- <ion-button  type="submit"  size="small">Linkedin</ion-button>  -->
                <!-- designation and occupation , company -->
                <ion-button  type="submit"  size="small" (click)="navigate('cc')">Clear Debts</ion-button>
                <ion-button  type="submit"  size="small" (click)="navigate('mf')">Invest</ion-button>

                <!-- insights -->
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
