<ion-header>
  <ion-toolbar>
    <ion-title> <div text-center>
      <h3>Financial coach - Mutual Funds</h3>
    </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="fillDetails(form)">
    <ion-grid>
      <ion-row justify-content-center>
          <!-- <ion-card class="cardHeight"> -->

        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          
            <!-- <ion-row justify-content-center>
            <ion-col align-self-center size-md="12" size-lg="12" size-xs="12"> -->
                
    
                  <div padding>
                    <ion-item>
                        <ion-label>Goal</ion-label>
                        <ion-select name="goal" ngModel required  okText="Okay" cancelText="Dismiss">
                          <ion-select-option value="Home">Home</ion-select-option>
                          <ion-select-option value="Retirement">Retirement</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Target Year</ion-label>
                      <ion-input name="year" type="text" ngModel required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Amount</ion-label>
                      <ion-input name="amount" type="text" ngModel required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Annual Salary</ion-label>
                      <ion-input name="salary" type="text" ngModel required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Risk Factor</ion-label>
                        <ion-select name="riskFactor" ngModel required okText="Okay" cancelText="Dismiss">
                          <ion-select-option value="Aggressive">Aggressive</ion-select-option>
                          <ion-select-option value="Average">Moderate</ion-select-option>
                          <ion-select-option value="Neutral">Conservative</ion-select-option>
                        </ion-select>                      
                      </ion-item>
                  </div>
              <!-- </ion-col>
            </ion-row> -->



            
           
                  
        </ion-col>
        
      </ion-row>
      <ion-row justify-content-center>

        <div padding>
            <div padding style="text-align: center;">
                <!-- <ion-button  type="submit"  size="small">Linkedin</ion-button>  -->
                <!-- designation and occupation , company -->
                <ion-button  type="submit" [disabled]="form.invalid" size="large">Result</ion-button>
                <!-- insights -->
              </div>
          </div> 
        </ion-row>
      <!-- </ion-card> -->


    </ion-grid>
  </form>
</ion-content>
